@model LoginViewModel

<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-3">
            <p class="lead">Вход</p>
            <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label-sm"></label>
                    <input asp-for="Email" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label-sm"></label>
                    <input asp-for="Password" type="password" class="form-control">
                </div>
                <div class="mb-3 form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input">
                    <label asp-for="RememberMe" class="form-check-label" asp-for="RememberMe">Запомнить меня?</label>
                </div>
                <button type="submit" class="btn btn-primary">Подтвердить</button>
                <a href="@Url.Action("Register", "Account")" class="btn btn-secondary">Зарегистрироваться</a>
            </form>
        </div>
    </div>
</div>