<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-3">
            <ul class="list-group">
                <p class="lead text-center">Список песен</p>
                @if (Model.Songs.Count > 0)
                {
                    @foreach (var song in Model.Songs)
                    {
                        <li class="list-group-item">
                            <a href="@Url.Action("Id", "Song", new { id = song.SongId })" class="text-dark link">@song.Title - @song.Artist.Title</a>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <p class="text-dark">Список пуст</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>