@model FavoriteSongsViewModel

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="d-none d-md-block">
                <h5 class="mb-3">Избранное</h5>
                @await Html.PartialAsync("FavoriteListPartial", Model)
            </div>
            <div class="d-md-none">
                <div class="mb-3">
                    <button class="btn btn-secondary btn-block fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#songList" aria-expanded="false" aria-controls="songList" aria-label="Toggle navigation">
                        Избранное
                    </button>
                </div>
                <div class="collapse" id="songList">
                    <div class="card card-body">
                        @await Html.PartialAsync("FavoriteListPartial", Model)
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div>
                @if (Model.SelectedSong != null)
                {
                    <div class="row">
                        <div class="col">
                            <h5>@Model.SelectedSong.Title</h5>
                            <h6>@Model.SelectedSong.Artist.Title</h6>
                        </div>
                        <div class="col mt-2">
                            <form asp-controller="Favorites" asp-action="Delete" asp-route-songId="@Model.SelectedSong.SongId" method="post">
                                <button type="submit" class="btn btn-secondary btn-block fs-6">
                                    Удалить из списка
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="text-container lyrics">
                        @Model.SelectedSong.Text
                    </div>
                }
                else
                {
                    <div>
                        <h5>
                            Выберите песню из списка
                        </h5>
                    </div>
                }
            </div>
        </div>
    </div>
</div>