<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Universe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="d-none d-md-block">
                    <div class="mt-3">
                        <div class="mb-2">
                            <p class="lead text-center">Панель администратора</p>
                        </div>
                            @await Html.PartialAsync("AdminLayoutPartial")
                        </div>
                </div>
                <div class="d-md-none">
                    <div class="mt-3 mb-1 d-flex">
                        <button class="btn btn-primary btn-white btn-block fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#adminList" aria-expanded="false" aria-controls="adminList" aria-label="Toggle navigation">
                            Панель Администратора
                        </button>
                    </div>
                    <div class="collapse mt-3" id="adminList">
                        @await Html.PartialAsync("AdminLayoutPartial")
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>